html {
    background: #f5f7f8;
    padding: 20px 0;
    font-family: sans-serif;
}

.header {
    width: 90%;
    margin: 0;
    padding: 0;
}

.header ul {
    list-style: none;
    display: flex;
    margin: auto;
    justify-content: start;
    text-align: center;
}

.header ul a {
    text-decoration: none;
}

.header li {
    text-transform: uppercase;
    cursor: pointer;
    color: #adcde6;
	min-width: 80px;
    margin: auto;
    margin-bottom: 10px;
}

.header li:hover {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 5px;
    border: solid 1px #3866a3;
    background: linear-gradient(180deg, #63B8EE 30%, #468ccf 100%);
    text-shadow: 1px 1px 0px #528ecc;
    box-shadow: inset 1px 1px 0px 0px #bbdaf7;
    
    animation: spring 300ms ease-out;
  }

  .header li:active {
    transform: translateY(4px);
  }

  @keyframes spring {
    15% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.2, 1.1);
    }
    40% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(0.95, 0.95);
    }
    75% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1.05, 1);
    }
    100% {
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
  }

/* Anything smaller than first breakpoint 600px */
.container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
  
/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    .header {
        width: 90%;
        max-width: 900px;
        margin: 0;
        padding: 0;
    }
    
    .header ul {
        list-style: none;
        display: flex;
        margin: auto;
        justify-content: space-between;
        text-align: center;
    }
    
    .header ul a {
        text-decoration: none;
    }
    
    .header li {
        padding: 1rem 1.5rem 1rem;
        text-transform: uppercase;
        cursor: pointer;
        color: #adcde6;
        min-width: 80px;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .header li:hover {
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        border-radius: 5px;
        border: solid 1px #3866a3;
        background: linear-gradient(180deg, #63B8EE 30%, #468ccf 100%);
        text-shadow: 1px 1px 0px #528ecc;
        box-shadow: inset 1px 1px 0px 0px #bbdaf7;
        
        animation: spring 300ms ease-out;
      }
    
      .header li:active {
        transform: translateY(4px);
      }
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
  
/* Large Screens */
@media (min-width:901px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .header {
        margin: auto;
    }

    .big-post {
        grid-column: 1 / span 2;
    }

    .big-post h1 {
        font-size: 24px;
    }
}

.big-post .thumb {
    background-image: url(../img/pic-1.jpg);
}

.post-1 .thumb {
    background-image: url(../img/pic-2.png);
}

.post-2 .thumb {
    background-image: url(../img/pic-3.png);
}

.post-3 .thumb {
    background-image: url(../img/pic-4.jpg);
}

.post-4 .thumb {
    background-image: url(../img/pic-5.jpg);
}

.post-5 .thumb {
    background-image: url(../img/pic-6.jpg);
}

.post-6 .thumb {
    background-image: url(../img/pic-7.png);
}

.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
    font-weight: 500;
}

.card p {
    flex: 1;
    line-height: 1.4;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}
